<section>
  <div class="container">
    <div class="row text-center mt-5">
      <div class="col-lg-4 col-md-2"></div>
      <div class="col-lg-4 col-md-8">
        <h3 class="mb-3">Đăng nhập</h3>
        <form class="mt-4">
          <!-- user -->
          <div class="row mb-3">
            <label for="user" class="col-sm-3 col-form-label"
              ><i class="fa-solid fa-user"></i
            ></label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="user"
                ng-model="form_account.user"
              />
            </div>
          </div>
          <!-- password -->
          <div class="row mb-3">
            <label for="password" class="col-sm-3 col-form-label"
              ><i class="fa-solid fa-lock"></i
            ></label>
            <div class="col-sm-9">
              <input
                type="password"
                class="form-control"
                id="password"
                ng-model="form_account.password"
              />
            </div>
          </div>
          <!-- chuc vu -->
          <div class="row mb-3">
            <div class="row">
              <div class="col-3"></div>
              <div class="col-4">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="chucVu"
                    id="admin"
                    value="true"
                    ng-model="form_account.chucVu"
                    ng-checked="form_account.chucVu == true"
                    checked
                  />
                  <label class="form-check-label" for="admin"> Admin </label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="chucVu"
                    id="client"
                    value="false"
                    ng-model="form_account.chucVu"
                    ng-checked="form_account.chucVu == false"
                  />
                  <label class="form-check-label" for="client"> Client </label>
                </div>
              </div>
            </div>
          </div>

          <a
            type="submit"
            class="btn btn-primary mt-4 mb-4"
            ng-click="dangNhap($event)"
          >
            Sign in
          </a>
        </form>
      </div>

      <div class="col-lg-4 col-md-2"></div>
    </div>
  </div>
</section>
