<section>
  <!-- menu -->
  <div class="menu" ng-include="'layout/menuClient.html'"></div>

  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../assets/image/slide1.jfif"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../assets/image/slide2.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../assets/image/slide3.jfif"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3 class="mt-5 border-bottom border-muted">Sản phẩm bán chạy</h3>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 mt-5" ng-repeat="sp in sanPham">
        <div class="border-bottom border-warning" style="width: 100%">
          <a ng-click="detail($index)" href="#sanPham/detail/{{sp.id}}">
            <img
              src="../assets/image/{{sp.image}}"
              class="card-img-top image-style"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">{{sp.name}}</h5>
            <p class="card-text mt-2 text-danger mb-2 fw-bold">
              $ {{sp.price}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h3 class="mt-5 border-bottom border-muted">Sản phẩm mới</h3>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5" ng-repeat="sp in sanPhamMoi">
        <div class="border-bottom border-warning" style="width: 100%">
          <a ng-click="detailSPMoi($index)" href="#sanPham/detail/{{sp.id}}">
            <img
              src="../assets/image/{{sp.image}}"
              class="card-img-top image-style"
              alt="..."
            />
          </a>
          <div class="card-body">
            <h5 class="card-title">{{sp.name}}</h5>
            <p class="card-text mt-2 text-danger mb-2 fw-bold">
              $ {{sp.price}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
