<div class="container mt-3">
  <div class="row">
    <div class="col-2 mt-5">
      <h4>About Us</h4>
    </div>
    <div class="col-3 mt-5"><h4>Customer Core</h4></div>
    <div class="col-3 mt-5"><h4>Contact Us</h4></div>
    <div class="col-4 mt-5"><h4>Subscribe</h4></div>
  </div>

  <div class="row mt-2">
    <div class="col-2">
      <p class="mb-1">item 1</p>
      <p class="mb-1">item 2</p>
      <p class="mb-1">item 3</p>
      <p class="mb-1">item 4</p>
    </div>
    <div class="col-3">
      <p class="mb-1">item 1</p>
      <p class="mb-1">item 2</p>
      <p class="mb-1">item 3</p>
      <p class="mb-1">item 4</p>
    </div>
    <div class="col-3">
      <p class="mb-1">item 1</p>
      <p class="mb-1">item 2</p>
      <p class="mb-1">item 3</p>
      <p class="mb-1">item 4</p>
    </div>
    <div class="col-4">
      <form class="d-flex" role="SUBSCRIBE">
        <input
          class="form-control me-2"
          type="SUBSCRIBE"
          placeholder="Enter your email"
          aria-label="SUBSCRIBE"
        />
        <button class="btn btn-success" type="submit">SUBSCRIBE</button>
      </form>
      <div class="row">
        <div class="col mt-2">
          <i class="fa-brands fa-cc-visa me-2 ficon"></i>
          <i class="fa-brands fa-cc-mastercard me-2 ficon"></i>
          <i class="fa-brands fa-simplybuilt me-2 ficon"></i>
          <i class="fa-brands fa-sellcast me-2 ficon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 text-center">
    <div class="col">
      <i class="fa-brands fa-facebook me-2 ficon"></i>
      <i class="fa-brands fa-twitter me-2 ficon"></i>
      <i class="fa-brands fa-instagram me-2 ficon"></i>
      <i class="fa-brands fa-github me-2 ficon"></i>
    </div>
  </div>
  <div class="row text-center mt-2">
    <div class="col mb-3">
      <p>@SONNSPH26215-PTPM-FPT Polytechnic</p>
    </div>
  </div>
</div>
